<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_APP_BADGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <queries>
        <package android:name="com.google.android.apps.maps" />

        <intent>
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.BROWSABLE" />

            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService" />
        </intent>
    </queries>

    <application
        android:name="chin.pswm.gps.photo.location.map.MyApplication"
        android:allowBackup="true"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:isSplitRequired="true"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GpsPhotoLocation"
        tools:replace="android:allowBackup"
        tools:targetApi="31">
<!--        <activity-->
<!--            android:name="chin.pswm.gps.photo.location.map.MainActivity"-->
<!--            android:exported="false"-->
<!--            android:label="@string/title_activity_main"-->
<!--            android:theme="@style/Theme.GpsPhotoLocation" />-->
        <activity
            android:name="chin.pswm.gps.photo.location.map.activity.settingActivity"
            android:exported="false" />
        <activity
            android:name="chin.pswm.gps.photo.location.map.activity.CompassStyleActivity"
            android:exported="false" />
        <activity
            android:name="chin.pswm.gps.photo.location.map.activity.RoutePlanerActivity"
            android:exported="false" />
        <activity
            android:name="chin.pswm.gps.photo.location.map.activity.CompassActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/MAP_KEY" />

        <activity
            android:name="chin.pswm.gps.photo.location.map.activity.PrivacyPolicyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="chin.pswm.gps.photo.location.map.activity.VideoPreviewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="chin.pswm.gps.photo.location.map.activity.VideoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="chin.pswm.gps.photo.location.map.activity.MapViewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="chin.pswm.gps.photo.location.map.activity.LocationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="chin.pswm.gps.photo.location.map.activity.TemplateActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="chin.pswm.gps.photo.location.map.activity.AdvanceCreateActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="chin.pswm.gps.photo.location.map.activity.AdvanceCameraActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="chin.pswm.gps.photo.location.map.photoGrid.activity.PG_CollageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="chin.pswm.gps.photo.location.map.activity.GridCameraActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="chin.pswm.gps.photo.location.map.activity.MyCreationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="chin.pswm.gps.photo.location.map.activity.GalleryPreviewMapActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="chin.pswm.gps.photo.location.map.activity.GalleryPreviewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="chin.pswm.gps.photo.location.map.activity.GalleryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="chin.pswm.gps.photo.location.map.activity.PreviewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="chin.pswm.gps.photo.location.map.activity.CameraPreviewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="chin.pswm.gps.photo.location.map.activity.CameraActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="chin.pswm.gps.photo.location.map.activity.PermissionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="chin.pswm.gps.photo.location.map.activity.StartActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="chin.pswm.gps.photo.location.map.earthview.EarthViewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="chin.pswm.gps.photo.location.map.New_intro.New_IntroActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="chin.pswm.gps.photo.location.map.New_intro.ActivitySelectFeature"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="chin.pswm.gps.photo.location.map.languegess.New_first_languagesselect"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="chin.pswm.gps.photo.location.map.languegess.ActivityPrivacyPolicy_New"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="chin.pswm.gps.photo.location.map.activity.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="com.onesignal.NotificationOpened.DEFAULT"
            android:value="DISABLE" />

        <activity
            android:name="chin.pswm.gps.photo.location.map.notification.WebActivity"
            android:exported="true"
            android:launchMode="singleTask" />

        <receiver
            android:name="com.onesignal.BootUpReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.REBOOT" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.onesignal.FCMBroadcastReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter android:priority="999">
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="chin.pswm.gps.photo.location.map" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.onesignal.HmsMessageServiceOneSignal"
            android:exported="false">
            <intent-filter>
                <action android:name="com.huawei.push.action.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.onesignal.NotificationOpenedActivityHMS"
            android:exported="true"
            android:noHistory="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <service
            android:name="com.onesignal.FCMIntentService"
            android:exported="false" />
        <service
            android:name="com.onesignal.FCMIntentJobService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name="com.onesignal.SyncService"
            android:exported="false"
            android:stopWithTask="true" />
        <service
            android:name="com.onesignal.SyncJobService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity
            android:name="com.onesignal.PermissionsActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <receiver
            android:name="com.onesignal.NotificationDismissReceiver"
            android:exported="true" />
        <receiver
            android:name="com.onesignal.UpgradeReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.onesignal.NotificationOpenedReceiver"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true"
            android:taskAffinity=""
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>

</manifest>